*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: whitesmoke;
  margin: 3rem 6rem;
}
/* 
header {
  display: flex;
    width: 100%;
    margin-bottom: 2rem;
    align-items: center;
} */

 .container {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
}  

.h-right{
    font-size: 1.2rem;
    text-align: justify;
    width: 50%; 
    margin-top: -35px;
    margin-left: 555px;
} 

.container1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.personel{
    display: flex;
    width: 33.33%;
    justify-content: center;
    align-items: center;
}

.personel img{
    width: 250px;
    border-radius: 10px;
    box-shadow: 5px 5px 20px rgb(100, 136, 130);
}

.person2,
.person5{
    padding-top: 4rem;
}

figcaption{
    padding-top: 1rem;
}

.title{
    font-weight: bolder;
}

.person1,
.person2,
.person3,
.person4,
.person5,
.person6{
    width: 300px;
    position: relative;
}

.person1 .title{
    transform: rotate(90deg);
    position: absolute;
    right: -15px;
    top: 50px;

}

.person2 .title{
    transform: rotate(90deg);
  position: absolute;
  right: -15px;
  top: 120px;
}

.person3 .title{
  transform: rotate(90deg);
  position: absolute;
  right: -15px;
  top: 42px;
}

.person4 .title{
    transform: rotate(90deg);
    position: absolute;
    left: 255px;
    top: 50px;
}

.person5 .title{
  transform: rotate(90deg);
  position: absolute;
  right: -15px;
  top: 110px;
}

.person6 .title{
    transform: rotate(90deg);
  position: absolute;
  right: -27px;
  top: 47px
}

.personel:hover{
    transition: all 1s ease-out;
    transform: scale(90%);
}

@media screen and (max-width: 1053px) {
.container{
    width: 50%;
}

.person2,
.person4,
.person6{
    padding-top: 5rem;
}

.person5{
    padding-top: 0;
}

.person5 .title{
    transform: rotate(90deg);
    position: absolute;
    right: -25px;
    top: 50px;
}

.person4 .title{
    transform: rotate(90deg);
    position: absolute;
    right: -27px;
    top: 110px;
}

header {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
.h-left{
    width: 100%;
}
.h-right{
    width: 100%;
}
}

@media screen and (max-width: 775px) {
.container1{
    flex-direction: column;
}
.h-left{
    margin-bottom: 2rem;
}

.person2,
.person4{
    padding-bottom: 4rem;
}

}